.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);

  }
}
.project-card img {
  width: 100%; /* Assure que la largeur de l'image est toujours de 100% de son conteneur */
  height: 200px; /* Fixe une hauteur spécifique pour toutes les images */
  object-fit: cover; /* S'assure que l'image couvre l'espace disponible, pouvant couper une partie de l'image si nécessaire */
}




